#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	go build -ldflags="-s -w" -o kue ./cmd/kue

override_dh_auto_install:
	install -D -m 0755 kue debian/kue/usr/bin/kue

override_dh_auto_test:
	# Skip tests during package build
